.container {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainContentContainer {
    flex: 1 1 0;
    overflow: auto;
}

.footer {
    display: flex;
    border-top: solid 1px var(--divider-color);
    padding: 10px 50px;
    font-size: 0.8rem;
    font-style: italic;
}
